{% extends "base.html.twig" %}
{% block title %}Experiences{% endblock %}
{% block body %}

<div class="jumbotron" style="margin:40px;padding:10px 20px 50px 20px">
  <h3 class="display-3">{{ exp.name }}</h3>
   {% if exp.isActive == 0 %}
    <h2 class="card text-white bg-danger mb-3">Experience cloturée</h2>
    {% endif %}
  <hr>
    <ul style="line-height:30px">
   
        <li> <font size = "5"> Compensation : {{exp.compensation}} €</font></li>
        <li> <font size = "5"> Free requirement : 
        {% if exp.freeReq == 1 %}
        Yes
        {%  else %}
        No </font></li>
        <li> <font size = "5"> Age requirement : {{ exp.ageReq }}  </font> </li>
        <li> <font size = "5"> Sex requirement : {{ exp.sexReq }}  </font> </li>
        <li> <font size = "5"> Specifiq requirement : {{ exp.SpecifiqReq }}  </font> </li>
        {% endif %}</font></li>
        
        <li> <font size = "5"> Date début : {{ exp.dateDebut | date("d/m/Y")}}  </font> </li>
        <li> <font size = "5"> Date fin : {{ exp.dateFin  | date("d/m/Y")}}  </font> </li>
    </ul>
    
    {% if exp.isActive == 1 %}
    <a href="{{path('modifyExp', {'id' : exp.Token, 'method' : 'modify'}) }}" style="float:right;margin:5px" class="btn btn-primary">Modify</a>
    <a href="{{path('closeExp', {'idExp' : exp.Token }) }}" style="float:right;margin:5px" class="btn btn-primary">Close</a>
    {% endif %}
</div>


<div>
<h4 class="display-4">Participants</h4>
  <ul class="list-group">
   {% for participant in participants %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{participant.IdParticipant.Lastname}}
      {{participant.idParticipant.Firstname}}
      Email : {{participant.idParticipant.Mail}}
        Age : {{participant.idParticipant.Age}}
        Sexe : {{participant.idParticipant.Sex}}
      <span>
        {% if participant.status == 1 %}
         <a href="{{path('participationToAnExperience', {'idExp' : exp.id, 'idParticipant' : participant.IdParticipant.Id, 'validated' : "3"}) }}" type="button" class="btn btn-success">A participé</a>
        <a href="{{path('participationToAnExperience', {'idExp' : exp.id, 'idParticipant' : participant.IdParticipant.Id, 'validated' : "4"}) }}" type="button" class="btn btn-danger">N'a pas participer</a>
        {% elseif participant.status == 3 %}
        A participé
        {% elseif participant.status == 4 %}
        N'a pas participé
        {% endif %}
        Rating : 
        {% set countParticipated = 0 %}
        {% set countRegistered = 0 %}
        {% for tmp in participant.idParticipant.participationRequests %}
        {% if tmp.status == 4 %}
        {% set countParticipated = countParticipated + 1 %}
        {% elseif tmp.status == 3 %}
        {% set countRegistered = countRegistered + 1 %}
        {% endif %}
        {% endfor %}
        {% if countRegistered   + countParticipated  == 0 %}
        {% else %}
        {{ (countRegistered / (countRegistered + countParticipated)  * 100) | number_format(2,'.',',')}}%
        {% endif %}
       
        {%  if participant.Status == 0 %}
        Inscription en attente
        {%  elseif participant.Status == 2 %}
        Inscription refusée
         {% else %}
        Inscription validée
        {% endif %}
        {% if participant.Status == 0 %}
        <a href="{{path('acceptRequest', {'idExp' : exp.id, 'idParticipant' : participant.IdParticipant.Id, 'validated' : "1"}) }}" type="button" class="btn btn-success">Accepter</a>
        <a href="{{path('acceptRequest', {'idExp' : exp.id, 'idParticipant' : participant.IdParticipant.Id, 'validated' : "2"}) }}" type="button" class="btn btn-danger">Refuser</a>
        {% endif %}
      </span>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}