{% extends "base.html.twig" %}
    
{% block title %}
Connexion
{% endblock %}

{% form_theme formUser 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div style="width:600px">

    {{ form_start(formUser) }}
    <legend>Inscription</legend>
    {{ form_row(formUser.Mail,{'label' : "Mail",'attr': {'placeholder':'Mail'}})}}<small>Attention votre mail sera votre identifiant de connexion </small>
    {{ form_row(formUser.Password,{'label' : "Mot de passe",'attr': {'placeholder':'Mot de passe'}})}}
    {{ form_row(formUser.ConfirmPassword,{'label' : "Confirmation du mot de passe",'attr': {'placeholder':'Confirmation'}})}}
    {{ form_row(formUser.LastName,{'label' : "Nom",'attr': {'placeholder':'Nom'}})}}
    {{ form_row(formUser.FirstName,{'label' : "Prénom",'attr': {'placeholder':'Prénom'}})}}
    {{ form_row(formUser.Department,{'label' : "Département",'attr': {'placeholder':'Département'}})}}
    {{ form_row(formUser.Status,{'label' : "Statut"})}}
    {{ form_row(formUser.RGPD,{'label' : "GDPR"})}} En cochant la case ci dessus j'atteste avoir lu la <a href="{{path('rgpd')}}" target="_blank">charte GDPR</a><br><br>
    <button type="submit" class="btn btn-success">Soumettre</button>

    {{ form_end(formUser) }}

    <a class="nav-link" href="{{path('security_login')}}" style="padding:3.5em 0.5em">Vous possédez déjà un compte ?</a>
</div>

{% endblock %}