<h2>Bonjour {{ researcher.Firstname }} !</h2>

<p>Merci d'avoir créer un compte sur XPMobile</p>
<p>Voici un résumé de vos informations</p>
<ul>
    <li>Prénom  : {{ researcher.Firstname }}</li>
    <li>Nom : {{ researcher.Lastname }}</li>
    <li>Department : {{ researcher.department}}</li>
    <li>Status : {{ researcher.status }}</li>
</ul>

<a href="{{ url('account_confirm', { 'token': researcher.token }) }}">Cliquez sur ce lien pour activer votre compte !</a>